.pic{
	border-radius: 50%;
	max-height: 300px; 
	margin-top: -10px;
	margin-left: 25px;
}

.pic-container.pic-medium.pic-circle{
	float: left;
}

.containerText{
	 float: left; 
	 margin-left: 50px;
}