@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
	padding: 0;
	margin: 0;
	background:#f4f4f4;
}

html,h1,h2,h3,h4,h5,h6,a{
	font-family: "Raleway";
}


.about{
	margin: 4em 0;
	padding: 1em;
	position: relative;
}
.about h1{
	color:black;
	margin: 2em;
}

.about span{
	display: block;
	color: #888;
	position: absolute;
	left: 115px;
}
.about .desc{
	padding: 2em;
	border-left:4px solid #10828C;
}
.about .desc h3{
	color: #10828C;
}
.about .desc p{
	line-height:2;
	color:#888;
}


/*Portfolio*/
.portfolio{
	margin: 4em 0;
    position: relative;	
}
.portfolio h1{
	color:black;
	margin: 2em;	
}
.portfolio img{
	 height: 15rem;
	 width: 100%;
     margin-top: 1em;
	 margin-bottom: 1em;

}


.team{
	margin: 4em 0;
	position: relative;

}
.team h1{
	color:black;
	margin: 2em;	
}
.team .item{
	position: relative;
	overflow: hidden;	
}
.team .des{
	background: black;
	color: #fff;
	text-align: center;
	border-top-right-radius: 93%;
	transition:.3s ease-in-out;
	position: absolute;
	width: 88%;
	bottom: 24px;

}
