doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title UBER-Z
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/main.css')
  body
    nav.navbar.navbar-light.bg-light.static-top
      .container
        a.navbar-brand(href='/') UberZ
        if user
          a.btn.btn-primary.btn-outline-secondary(href='/users/logout') Logout
        else
          a.btn.btn-primary.btn-outline-secondary(href='/users/register') Register

br
block content
center
 h2.page-header Login
 p Please login below
 if errors
  each error, i in errors
   div.alert.alert-danger Incorrect username or password
 form(method='post', action='/users/login')
  .form-group
   label Username 
   input#email.form_email(name='username', type='text', placeholder='Enter Username')
  .form-group
   label Password
   input#password.form_password(name='password', type='password', placeholder='Enter Password')
   <p>
  input.btn.btn-primary(type='submit', name='submit',value='Login')