doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title UBER-Z
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/main.css')
  body
    nav.navbar.navbar-light.bg-light.static-top
      .container
        a.navbar-brand(href='/') UberZ
        a.btn.btn-primary(href='/users/login') Login

block content
 h2.page-header Register
 p Please register using the form below
 if errors
  each error, i in errors
   div.alert.alert-danger #{error.msg}
 form(method='post', action='/users/register',enctype='multipart/form-data')
  .form-group
    label First Name
    input.form-control(name='firstname', type='text', placeholder='Enter First Name')
  .form-group
   label Last Name
   input.form-control(name='lastname', type='text', placeholder='Enter Last Name')
  .form-group
   label Phone
   input.form-control(name='phone', type='number', placeholder='Enter Phone Number')
  .form-group
   label Email
   input.form-control(name='email', type='email', placeholder='Enter Email')
  .form-group
   label Username
   input.form-control(name='username', type='text', placeholder='Enter Username')
  .form-group
   label Password
   input.form-control(name='password', type='password', placeholder='Enter Password')
  .form-group
   label Confirm Password
   input.form-control(name='password2', type='password', placeholder='Confirm Password')
  .form-group
   label Profile Image
   input.form-control(name='profileimage', type='file')
  input.btn.btn-primary(type='submit', name='submit',value='Register')