doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title UBER-Z
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
  body
    nav.navbar.navbar-light.bg-light.static-top
      .container
        a.navbar-brand(href='/') UberZ
        a.btn.btn-primary.btn-outline-secondary(href='/users/login') Login

br
block content
center
 h2.page-header Register
 p Please register using the form below
 if errors
  each error, i in errors
    if error.msg
      div.alert.alert-danger #{error.msg}
    else
      div.alert.alert-danger Username taken already

 form(method='post', action='/users/register',enctype='multipart/form-data')
  .form_body_register
    .form-group
      label First Name
      input.form_firstname(name='firstname', type='text', placeholder='Enter First Name')
    .form-group
    label Last Name
    input.form_lastname(name='lastname', type='text', placeholder='Enter Last Name')
    .form-group
    label Phone
    input.form_phone(name='phone', type='number', placeholder='Enter Phone Number')
    .form-group
    label Email
    input.form_email(name='email', type='email', placeholder='Enter Email')
    .form-group
    label Username
    input.form_username(name='username', type='text', placeholder='Enter Username')
    .form-group
    label Password
    input.form_password(name='password', type='password', placeholder='Enter Password')
    .form-group
    label Confirm Password
    input.form_password(name='password2', type='password', placeholder='Confirm Password')
    p
    input.form__register.btn.btn-primary(type='submit', name='submit',value='Register')