.containerText{
	 float: left; 
	 margin-left: 50px;
	 margin-bottom: 20px;
}

#firstnameelement{
	float: left;
	max-width: 200px;
}

#lastnameelement{
	float: left;
	max-width: 200px;
}

#usernameelement{
	float: left;
	max-width: 200px;
}

.form-control{
    
    margin-bottom: 10px;
}
.deleteUser {
	height: 50px;
	width: 50px;
	margin-left: 10px;
	margin-top: 20px;
}

.btn-primary-delete {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 50px;
}

h1{
    margin-top: 10px;
}
