.pic{
	border-radius: 50%;
	max-height: 300px; 
	margin-top: -10px;
	margin-left: 50px;
}

.pic-container.pic-medium.pic-circle{
	float: left;
}

.containerTextleft{
	 float: left; 
	 margin-left: 170px;
     margin-bottom: 5px;
}

.containerTextright{
	 float: left; 
	 margin-left: 50px;
}

.form-control{
    margin-bottom: 5px;
}

.updateButton {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  margin-left: -60px;
  margin-top: 25px;
  margin-bottom: 50px;
}


h1.shift{
    
    margin-top:15px;
}